mixin cardBlog(href,fecha,titulo,url_img, alt_img)
  a.text-decoration-none.text-dark.text-xs-center(href=href)
    .border-bottom.pb-3.mb-3
      span.fs-xs.text-black-50=fecha
      h2.fs-sm.uppercase.text-opacity-75=titulo
      div(style='height: 200px; width: auto;')
        img(style='object-fit:cover; object-position:center center; height: 100%; width: 100%;', src=url_img, alt=alt_img)



//- a.text-decoration-none.text-dark(href='que-tipo-de-vehiculo-necesito-para-mantener-la-cadena-de-frio.html')
//-     .border-bottom.pb-3.mb-3
//-       span.fs-6.text-black-50
//-         | Noviembre 8, 2021
//-       h2.fs-4
//-         span ¿QUÉ TIPO DE VEHÍCULO NECESITO PARA MANTENER LA CADENA DE FRÍO?
//-       div(style='height: 200px; width: auto;')
//-         img(style='object-fit:cover; object-position:center center; height: 100%; width: 100%;', src='https://firebasestorage.googleapis.com/v0/b/anunalog.appspot.com/o/blog%2Fblog_content_item_1%2Fportada.jpg?alt=media&token=18a93082-e52e-4b16-a7cd-ca1348e246f8', alt='¿QUÉ TIPO DE VEHÍCULO NECESITO PARA MANTENER LA CADENA DE FRÍO?')